html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 16px;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-size: 1rem;
}

.wrapper {
  margin: 0 auto;
  max-width: 60rem;
  width: 100%;
}

.wrapper--image {
  display: flex;
  margin: auto;
  width: 100%;
}

.wrapper--image img {
  height: auto;
  width: 100%;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}

.modal-overlay.open {
  display: flex;
}

.modal-content {
  background-color: #fff;
  border-radius: 4px;
  margin: auto;
  padding: 16px;
  width: 640px;
  height: auto;
  position: relative;
  z-index: 10000;
}

.modal-content .modal-close {
  background-color: #000;
  cursor: pointer;
  color: #fff;
  position: absolute;
  font-size: 16px;
  padding: 4px;
  line-height: 1;
  top: 16px;
  right: 16px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  z-index: 10900;
}

.modal-content p {
  font-size: 2rem;
}
